@font-face {
font-family: titulofont;
src: url("../fonts/titulofont.ttf") format("truetype");
}

h1 {
  font-family: titulofont;
  color:#FF0000;
  -webkit-text-stroke-color: yellow;
  -webkit-text-stroke-width: 0.50px; 
}

.color-salvaje{
	background-color:#1A6A44;	
}

.color-rojo{
	color:#D8110A;
}